.words-layout {
  position: relative;
}

.words-child-components {
  position: fixed;
  right: 0;
  width: 200px;
  top: 0;
  height: 100%;
  overflow: auto;
  scrollbar-width: thin; 
  scrollbar-color: #f4b5b5 transparent; 
}

.word-guesser-component{
  height: 100%;
}

